@import "../../App.scss";

$min_width_p: 320px;
$max_width_p: 1200px;
$min_font_p: 20px;
$max_font_p: 28px;

.close-icon {
  width: 18px;
  cursor: pointer;
}

.project {
  position: absolute;
  bottom: 0;
  direction: ltr;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 60vw;
    pointer-events: all;
    overflow: hidden;
  }
}

.title-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  &__title {
    width: 25%;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 48%));
  gap: 1rem;

  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  padding-top: 10px;
}

.project-text {
  line-height: 1.4;
  font-family: $main-font;
  color: $white;
  @include fluid-type($min_width_p, $max_width_p, $min_font_p, $max_font_p);
}

.project-card {
  background-color: $white;
  border-radius: 10px;
  min-width: 180px;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all.2s;

  &:hover {
    transform: translateY(-10px);
  }

  &__name {
    @include fluid-type(320px, 600px, 20px, 32px);
    font-family: $bold-font;
    font-weight: 400;
    color: $purple;
  }

  &__description {
    color: #353535;
    margin: 0;
    margin-top: 1.5rem;
    text-align: justify;
    font-family: $main-font;
    @include fluid-type(320px, 600px, 14px, 20px);
  }

  &__tags {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    &__tag {
      @include fluid-type(320px, 600px, 14px, 16px);
      background-color: $orange;
      padding: 5px 15px;
      color: $white;
      border-radius: 20px;
      margin-right: 10px;
      margin-bottom: 10px;
      font-family: $bold-font;
      text-transform: uppercase;
    }
  }
}
