@import "../../App.scss";

.goofy-word {
  cursor: default;
  font-family: $bold-font;
  animation-name: bouncy-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.goofy-word:hover {
  animation-name: bouncy-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.orange-only {
  color: $orange;
}

.purple-only {
  color: $purple;
}

.orange {
  color: $orange;
  transition: all 0.3s;
}

.orange:hover {
  color: $purple;
}

.purple {
  color: $purple;
  transition: all 0.3s;
}

.purple:hover {
  color: $orange;
}

@keyframes bouncy-in {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.15, 0.85);
  }
}

@keyframes bouncy-out {
  0% {
    transform: scale(1.15, 0.85);
  }
  50% {
    transform: scale(0.85, 1.15);
  }
  100% {
    transform: scale(1, 1);
  }
}
