.modal {
    z-index: 0;
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);

    position: absolute;
    right: 12vw;

    -webkit-tap-highlight-color: transparent;

    max-width: 62vw;

    &__not-expanded {
        height: auto;
    
        top: 30vh;
    
        transform: rotate(5deg);
        cursor: pointer;
    
        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            transform: scale(0.95);
        }
    }

    &__expanded {
        transform: rotate(0deg);
        top: 30vh;

        cursor: pointer;

    }
}

.inside {
    &-not-expanded {

    }

    &-expanded {
        margin-top: 2vh;
        max-width: 60vw;
        max-height: 20vh; 
        opacity: 1;
        transition: max-height 0.6s cubic-bezier(0.25, 0.1, 0.25, 1), max-width 0.6s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.4s 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}

.vanish {
    max-width: 0;
    max-height: 0;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), max-height 1s 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), max-width 1s 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}