@import "../../App.scss";

$bubble-size: 16vh;
$big-bubble: 100vh;
$min-bubble: 100vw;

.modal-open {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
  cursor: pointer;
}

.front-enable {
  z-index: 2;
}

.bubble-nav {
  position: fixed;
  width: 100vw;
  height: 100vh;

  &__bubble {
    z-index: 5;
    position: absolute;
    width: $bubble-size;
    height: $bubble-size;
    transition: all 0.1s;

    display: flex;
    justify-content: center;
    align-items: center;

    &__item1 {
      color: $white;
      font-family: $bold-font;
      font-size: 1.8vh;
      transform: translate(-15%, -35%);
    }

    &__item2 {
      color: $white;
      font-family: $bold-font;
      font-size: 1.8vh;
      transform: translate(15%, -35%);
    }

    &__item3 {
      color: $white;
      font-family: $bold-font;
      font-size: 1.6vh;
      transform: translate(-8%, 110%);
    }

    &__item4 {
      color: $white;
      font-family: $bold-font;
      font-size: 1.7vh;
      transform: translate(10%, 110%);
    }
  }
}

.position-1 {
  top: 0;
  left: 0;
  border-radius: 0 0 100% 0;
  background-color: $orange;
  cursor: pointer;
  &:hover {
    background-color: $purple;
    transform: scale(1.1);
  }
  &__open {
    z-index: 10;
    position: absolute;
    border-radius: 0 0 100% 0;
    width: $big-bubble;
    min-width: $min-bubble;
    min-height: $min-bubble;
    height: $big-bubble;
    background-color: $purple;
  }
}

.position-2 {
  top: 0;
  right: 0;
  border-radius: 0 0 0 100%;
  background-color: $purple;
  cursor: pointer;
  &:hover {
    background-color: $orange;
    transform: scale(1.1);
  }
  &__open {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    width: $big-bubble;
    height: $big-bubble;
    border-radius: 0 0 0 100%;
    background-color: $orange;
    min-width: $min-bubble;
    min-height: $min-bubble;
  }
}

.position-3 {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 0;
  background-color: $purple;
  cursor: pointer;
  &:hover {
    background-color: $orange;
    transform: scale(1.1);
  }
  &__open {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    width: $big-bubble;
    height: $big-bubble;
    border-radius: 0 100% 0 0;
    background-color: $orange;
    min-width: $min-bubble;
    min-height: $min-bubble;
  }
}

.position-4 {
  bottom: 0;
  right: 0;
  border-radius: 100% 0 0 0;
  background-color: $orange;
  cursor: pointer;
  &:hover {
    background-color: $purple;
    transform: scale(1.1);
  }
  &__open {
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    width: $big-bubble;
    height: $big-bubble;
    border-radius: 100% 0 0 0;
    background-color: $purple;
    cursor: default;
    min-width: $min-bubble;
    min-height: $min-bubble;
  }
}
