@import "../../App.scss";

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    min-width: 120px;
    max-height: 250px;
}

.circle {
    fill: none;
    stroke: #b3adbf;
    stroke-width: 2;
    stroke-linecap: round;
}
