@import url('https://fonts.googleapis.com/css?family=Archivo|Archivo+Black&display=swap');

$main-font: 'Archivo', sans-serif;
$bold-font: 'Archivo Black', sans-serif;

$purple: #2F1183;
$orange: #E25C75;
$white: #e9e9e9;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 24px;
$max_font: 64px;

body {
  background-color: #E9E9E9;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  @include fluid-type($min_width, $max_width, $min_font, $max_font)
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-area {
  height: 100vh;
  width: 50%;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__line {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}